body {
background-color: rgb(160, 238, 212);
}
h1 {
    color: blueviolet    ;
     font-size: 40px;
     text-align: center;
}
p{
    font-size: 30px;
}
ul {
    display: inline-block;
    margin-right : 15;
   imical-aling : top;
    
  }